#folder
/AbstractFactoryInstance/Debug/
/AbstractFactoryInstance/AbstractFactoryInstance/Debug/
/AbstractFactoryInstance/Release/
/AbstractFactoryInstance/AbstractFactoryInstance/Release/

#file
*.suo
*.ncb
*.user
